// todo================  CSS VARIABLES ================
//Puedes mofificar los valores de estas variables CSS.

// *================ Root Conts & Variables ================
:root {
    // !Agregar los colores Hover, Active
    // *-------- Colors Const --------
    --color-primary: #326dee;
    --color-secondary: #1ac888;
    --color-danger: #d32752;
    --color-success: #3BACD9;
    --color-warning: #f6c31c;
    --color-dark: #2E3640;
    --color-light: #fff;

    // *-------- Colors Variants Const --------
    --color-dark-variant: #84878C;
    --color-light-variant: #D9D9D9;

    // *-------- Colors Variables --------
    --color-text-1: #2E3640;
    --color-text-2: #fff;

    // *-------- Background Colors Variables --------
    --color-background-1: #f6f6f9;
    --color-background-1: #303845;

    // *-------- Borders --------
    --border-1: 1px solid var(--color-light);
    --border-radius-1: 0.3rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 1rem;

    // *-------- Padding & Margin --------
    --space-xs: 0.5rem;
    --space-s: 0.75rem;
    --space-m: 1rem;
    --space-l: 1.3rem;
    --space-xl: 1.7rem;
    --space-xxl: 2rem;
    --space-g: 3rem;

    // *-------- Sizes Variables --------
    --size-xs: 0.5rem;
    --size-s: 0.75rem;
    --size-m: 1rem;
    --size-l: 1.3rem;
    --size-xl: 1.7rem;
    --size-xxl: 2rem;
    --size-g: 3rem;

    // *-------- Shadows --------
    --base-box-shadow-1: 1px 3px 5px rgba(0, 0, 0, 0.1);

    // ================ END OF ROOT VARIABLES ================
}

//* ================ Dark Theme Variables ================
.dark-theme {
    // *-------- Colors Variables --------
    --color-text-1: #fff;

    // *-------- Background Colors Variables --------
    --color-background-1: #2E3640;
    // ================ END OF DARK THEME VARIABLES ================
}

// todo================  SASS VARIABLES ================
// *================ Testing Variables ================

// *-------- Colors Variables --------
//Estos colores son usados para testear tamaños por lo tanto no se incluyen en el diseño final
$color-test-1: pink;
$color-test-2: coral;
$color-test-3: olive;
$color-test-4: BlueViolet;
// ================ END OF SASS VARIABLES ================