<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Aside</title>
        <!-- todo: ================ GOOGLE FONTS ICONS ================ -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <!-- todo: ================ STYLES SHEETS ================ -->
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <!-- todo: ================ ASIDE ================ -->
        <aside>
            <!-- * ---------------- Top ---------------- -->
            <div class="top">
                <img src="../img/logo.jpg" alt="Logo de BioFitty (manzana)" />
                <p>Bio<span>Fitty</span></p>
            </div>
            <!-- ---------------- End of Top ---------------- -->
            <!-- * ---------------- Sidebar ---------------- -->
            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-outlined"> person </span>
                    <h4>Perfil</h4>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                    <h4>Calendario</h4>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp"> receipt </span>
                    <h4>Planes</h4>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        supervisor_account
                    </span>
                    <h4>Gestionar</h4>
                </a>
            </div>
            <!-- ---------------- End of Sidebar ---------------- -->
            <!-- * ---------------- Botton ---------------- -->
            <div class="botton">
                <a href="#">
                    <span class="material-symbols-sharp"> logout </span>
                    <h4>Logout</h4>
                </a>
            </div>
            <!-- ---------------- End of Botton ---------------- -->
        </aside>
        <!-- ? ================ END OF ASIDE ================ -->
    </body>
</html>
