<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nav</title>
        <!-- todo: ================ GOOGLE FONTS ICONS ================ -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <!-- todo: ================ STYLES SHEETS ================ -->
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <!-- todo: ================ NAV ================ -->
        <nav>
            <!-- * ---------------- Left ---------------- -->
            <div class="left">
                <div class="logo">
                    <div class="gob">
                        <img
                            src="../img/es-escudo.svg"
                            alt="Escudo de El Salvador en color Blanco"
                        />
                        <p>Gobierno de El Salvador</p>
                    </div>
                    <p>Permisos para Investigadores</p>
                </div>
                <!-- End of logo -->
            </div>
            <!-- ---------------- End of Left ---------------- -->
            <!-- * ---------------- Nav Main ---------------- -->
            <div class="main">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Registro</a></li>
                </ul>
            </div>
            <!-- ---------------- End of Nav Main ---------------- -->
            <!-- * ---------------- Right ---------------- -->
            <div class="right">
                <a href="">
                    <span class="material-symbols-outlined"> login </span>
                    <h2>Login</h2>
                </a>
            </div>
            <!-- ---------------- End of Right ---------------- -->
        </nav>
        <!-- ? ================ END OF NAV ================ -->
    </body>
</html>
